Salesforce_to_S3.json
{"flowContents":{"identifier":"fb9db392-f074-3f78-821b-32f1d659b805","instanceIdentifier":"ebb167b7-0199-1000-4580-bcb21a6ccac0","name":"Salesforce to S3","comments":"This flow retrieves JSON data from Salesforce, splits it into individual records, applies transformations such as handling null values, converts the data into CSV format, renames the file with the desired filename and extension, and uploads it to an S3 bucket","position":{"x":1240.0,"y":288.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"25b840e1-9059-3ab2-b685-9f00ae07426f","instanceIdentifier":"ebb85f48-0199-1000-4e49-05db0ac62747","name":"EvaluateJsonPath","comments":"","position":{"x":1640.0,"y":296.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","NumberOfEmployees":"$.NumberOfEmployees","Path Not Found Behavior":"ignore","AccountName":"$.Name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"NumberOfEmployees":{"name":"NumberOfEmployees","displayName":"NumberOfEmployees","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"AccountName":{"name":"AccountName","displayName":"AccountName","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"50c3e52d-c305-3c9d-8226-c5df4dccf4d9","instanceIdentifier":"ebb892a3-0199-1000-41f8-c60c6a5df6d8","name":"UpdateAttribute","comments":"","position":{"x":3440.0,"y":280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.0"},"properties":{"Delete Attributes Expression":null,"filename":"${AccountName}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"319b89ab-7bdd-3497-bcb2-9a275abc8d07","instanceIdentifier":"ebbb20b6-0199-1000-3097-5f6b357d74f5","name":"LogAttribute","comments":"","position":{"x":1048.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"8d840b15-5b26-3d51-ac42-a7468c51d43f","instanceIdentifier":"ed564da9-0199-1000-ceb7-2a46daf23f1c","name":"LogAttribute","comments":"","position":{"x":2848.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"31dd8dad-1375-3e95-a4ce-94e4378ac9fe","instanceIdentifier":"ebb19ffb-0199-1000-5f38-47046fa577e9","name":"QuerySalesforceObject","comments":"","position":{"x":312.0,"y":-96.0},"type":"org.apache.nifi.processors.salesforce.QuerySalesforceObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-salesforce-nar","version":"1.28.0"},"properties":{"age-delay":null,"read-timeout":"15 s","initial-age-filter":null,"query-type":"custom-query","field-names":null,"record-writer":null,"custom-where-condition":null,"sobject-name":null,"salesforce-api-version":"54.0","salesforce-url":"#{SalesforceInstanceUrl}","custom-soql-query":"#{SalesforceQuery}","create-zero-record-files":"false","oauth2-access-token-provider":"e7f11bd6-cae4-3502-936c-62f1c04f906c","age-field":null},"propertyDescriptors":{"age-delay":{"name":"age-delay","displayName":"Age Delay","identifiesControllerService":false,"sensitive":false},"read-timeout":{"name":"read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"initial-age-filter":{"name":"initial-age-filter","displayName":"Initial Age Start Time","identifiesControllerService":false,"sensitive":false},"query-type":{"name":"query-type","displayName":"Query Type","identifiesControllerService":false,"sensitive":false},"field-names":{"name":"field-names","displayName":"Field Names","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"custom-where-condition":{"name":"custom-where-condition","displayName":"Custom WHERE Condition","identifiesControllerService":false,"sensitive":false},"sobject-name":{"name":"sobject-name","displayName":"sObject Name","identifiesControllerService":false,"sensitive":false},"salesforce-api-version":{"name":"salesforce-api-version","displayName":"API Version","identifiesControllerService":false,"sensitive":false},"salesforce-url":{"name":"salesforce-url","displayName":"Salesforce Instance URL","identifiesControllerService":false,"sensitive":false},"custom-soql-query":{"name":"custom-soql-query","displayName":"Custom SOQL Query","identifiesControllerService":false,"sensitive":false},"create-zero-record-files":{"name":"create-zero-record-files","displayName":"Create Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"age-field":{"name":"age-field","displayName":"Age Field","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"04d4f9fb-0e6a-312f-b055-60178c992624","instanceIdentifier":"ebba5033-0199-1000-9099-7514dfd70835","name":"LogAttribute","comments":"","position":{"x":4632.0,"y":280.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"d0fcd07b-eb86-3879-b020-8409230fde4b","instanceIdentifier":"ebba99b8-0199-1000-db2a-5d1b3c3791d9","name":"LogAttribute","comments":"","position":{"x":4048.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"ba33c710-7b39-3fa0-b3d7-38415738db63","instanceIdentifier":"ebbbc7ba-0199-1000-0c96-961b00e882c3","name":"LogAttribute","comments":"","position":{"x":312.0,"y":616.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"f3cfae6f-de63-3856-b4af-94d47072396b","instanceIdentifier":"ebb97827-0199-1000-2402-8ea9bc2a743d","name":"ConvertRecord","comments":"","position":{"x":2848.0,"y":288.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"record-writer":"6c11cfd6-f201-33ac-ac54-5d99810f6024","record-reader":"d5b10ec2-1b63-36e6-a47c-b3fe27c7a7c2","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"4ce0bafb-d26e-365f-83e5-8ece43a2d3e0","instanceIdentifier":"ebc9940a-0199-1000-6075-ec3d66ea46ef","name":"UpdateRecord","comments":"","position":{"x":2256.0,"y":288.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"record-writer":"6e453833-1e2f-3862-82f5-0b4fbc3d2ac7","record-reader":"074162b2-5583-30ef-aff8-c2babd1f5d17","/EmployeeCategory":"${NumberOfEmployees:lt(1000):ifElse('Small', ${NumberOfEmployees:lt(5000):ifElse('Medium', 'Large')})}","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/EmployeeCategory":{"name":"/EmployeeCategory","displayName":"/EmployeeCategory","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"324bfdf6-f968-3b47-aac3-34a284ad94ed","instanceIdentifier":"ebb9b7d5-0199-1000-c521-67ffc3a1c59f","name":"PutS3Object","comments":"","position":{"x":4048.0,"y":280.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.28.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{MinioAccesskey}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"#{MinioEndpointUrl}","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Secret Key":"#{MinioAccesskey}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{MinioBucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"53b94b8b-a9f6-3409-a3d5-c78926e2e61b","instanceIdentifier":"ebda4b7f-0199-1000-0aea-3d03228d9d88","name":"LogAttribute","comments":"","position":{"x":1640.0,"y":696.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"4f076d28-775c-3f79-ac79-ea44942ea87b","instanceIdentifier":"ebcd7876-0199-1000-69ce-87eeb9be8a32","name":"JoltTransformJSON","comments":"","position":{"x":1048.0,"y":296.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"Website\": \"N/A\",\n      \"NumberOfEmployees\": 0\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"AnnualRevenue\": \"=divide(@(1,AnnualRevenue),1000000)\"  // Converts to millions\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"97a32508-1454-35ca-a0d9-51fa74647683","instanceIdentifier":"ebb1be31-0199-1000-65fc-98f87a4729e1","name":"SplitJson","comments":"","position":{"x":312.0,"y":296.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2109348e-65a9-3d33-8535-74145d8b9436","instanceIdentifier":"ed50b45a-0199-1000-16d7-134ba01c98b9","name":"","source":{"id":"25b840e1-9059-3ab2-b685-9f00ae07426f","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ebb85f48-0199-1000-4e49-05db0ac62747"},"destination":{"id":"319b89ab-7bdd-3497-bcb2-9a275abc8d07","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"LogAttribute","comments":"","instanceIdentifier":"ebbb20b6-0199-1000-3097-5f6b357d74f5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1816.0,"y":-32.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"1a1a7f26-8f3e-3f32-badc-373977564e1a","instanceIdentifier":"ebd70434-0199-1000-487c-675cd2e2bad5","name":"","source":{"id":"f3cfae6f-de63-3856-b4af-94d47072396b","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"ConvertRecord","comments":"","instanceIdentifier":"ebb97827-0199-1000-2402-8ea9bc2a743d"},"destination":{"id":"50c3e52d-c305-3c9d-8226-c5df4dccf4d9","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"UpdateAttribute","comments":"","instanceIdentifier":"ebb892a3-0199-1000-41f8-c60c6a5df6d8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"e28965a0-844d-3889-a36a-61572a2b3db6","instanceIdentifier":"ebb8b3fc-0199-1000-e251-61364a307608","name":"","source":{"id":"25b840e1-9059-3ab2-b685-9f00ae07426f","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ebb85f48-0199-1000-4e49-05db0ac62747"},"destination":{"id":"4ce0bafb-d26e-365f-83e5-8ece43a2d3e0","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"UpdateRecord","comments":"","instanceIdentifier":"ebc9940a-0199-1000-6075-ec3d66ea46ef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"78fef2db-4ebd-3743-a9ef-db4b6eed8e08","instanceIdentifier":"ebdb42bc-0199-1000-3445-e24b50c17844","name":"","source":{"id":"4ce0bafb-d26e-365f-83e5-8ece43a2d3e0","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"UpdateRecord","comments":"","instanceIdentifier":"ebc9940a-0199-1000-6075-ec3d66ea46ef"},"destination":{"id":"53b94b8b-a9f6-3409-a3d5-c78926e2e61b","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"LogAttribute","comments":"","instanceIdentifier":"ebda4b7f-0199-1000-0aea-3d03228d9d88"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2432.0,"y":760.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"45fe8a56-368e-310e-b2f4-6b0629d5f797","instanceIdentifier":"ebbbf256-0199-1000-41ef-bb42168d4c79","name":"","source":{"id":"25b840e1-9059-3ab2-b685-9f00ae07426f","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ebb85f48-0199-1000-4e49-05db0ac62747"},"destination":{"id":"53b94b8b-a9f6-3409-a3d5-c78926e2e61b","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"LogAttribute","comments":"","instanceIdentifier":"ebda4b7f-0199-1000-0aea-3d03228d9d88"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"75ade1f3-3bf4-3495-98ca-e0e468c8d5ea","instanceIdentifier":"ebbab5a6-0199-1000-9075-29f9891ac509","name":"","source":{"id":"324bfdf6-f968-3b47-aac3-34a284ad94ed","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"PutS3Object","comments":"","instanceIdentifier":"ebb9b7d5-0199-1000-c521-67ffc3a1c59f"},"destination":{"id":"d0fcd07b-eb86-3879-b020-8409230fde4b","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"LogAttribute","comments":"","instanceIdentifier":"ebba99b8-0199-1000-db2a-5d1b3c3791d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"5c4ac7a0-f643-3ab8-af8b-ad0a8a49ced7","instanceIdentifier":"ebcd9eb8-0199-1000-cf68-3385f4fc460d","name":"","source":{"id":"4f076d28-775c-3f79-ac79-ea44942ea87b","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ebcd7876-0199-1000-69ce-87eeb9be8a32"},"destination":{"id":"25b840e1-9059-3ab2-b685-9f00ae07426f","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ebb85f48-0199-1000-4e49-05db0ac62747"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"f2c3dc83-160b-383f-a63d-941bb53e5190","instanceIdentifier":"ebbb3cdd-0199-1000-60f2-0039cdf135f0","name":"","source":{"id":"31dd8dad-1375-3e95-a4ce-94e4378ac9fe","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"QuerySalesforceObject","comments":"","instanceIdentifier":"ebb19ffb-0199-1000-5f38-47046fa577e9"},"destination":{"id":"319b89ab-7bdd-3497-bcb2-9a275abc8d07","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"LogAttribute","comments":"","instanceIdentifier":"ebbb20b6-0199-1000-3097-5f6b357d74f5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"3099095e-0fb3-3414-a7ea-31c2c19ddb76","instanceIdentifier":"ebba73bb-0199-1000-fae6-e9f7c538d1b5","name":"","source":{"id":"324bfdf6-f968-3b47-aac3-34a284ad94ed","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"PutS3Object","comments":"","instanceIdentifier":"ebb9b7d5-0199-1000-c521-67ffc3a1c59f"},"destination":{"id":"04d4f9fb-0e6a-312f-b055-60178c992624","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"LogAttribute","comments":"","instanceIdentifier":"ebba5033-0199-1000-9099-7514dfd70835"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"a637211d-59c6-34cc-9add-57dba3142928","instanceIdentifier":"ebb1dea3-0199-1000-a792-4b4bb5dfc6c3","name":"","source":{"id":"31dd8dad-1375-3e95-a4ce-94e4378ac9fe","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"QuerySalesforceObject","comments":"","instanceIdentifier":"ebb19ffb-0199-1000-5f38-47046fa577e9"},"destination":{"id":"97a32508-1454-35ca-a0d9-51fa74647683","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"SplitJson","comments":"","instanceIdentifier":"ebb1be31-0199-1000-65fc-98f87a4729e1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"cdf5b29d-6118-30bc-b76b-8a988a57882e","instanceIdentifier":"ebc9b47c-0199-1000-b3b3-a4eb9dc36ca1","name":"","source":{"id":"4ce0bafb-d26e-365f-83e5-8ece43a2d3e0","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"UpdateRecord","comments":"","instanceIdentifier":"ebc9940a-0199-1000-6075-ec3d66ea46ef"},"destination":{"id":"f3cfae6f-de63-3856-b4af-94d47072396b","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"ConvertRecord","comments":"","instanceIdentifier":"ebb97827-0199-1000-2402-8ea9bc2a743d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"5b37e4c0-02e4-3565-9824-96aa150e1f03","instanceIdentifier":"ebbbe15e-0199-1000-40ba-f75df1483bc1","name":"","source":{"id":"97a32508-1454-35ca-a0d9-51fa74647683","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"SplitJson","comments":"","instanceIdentifier":"ebb1be31-0199-1000-65fc-98f87a4729e1"},"destination":{"id":"ba33c710-7b39-3fa0-b3d7-38415738db63","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"LogAttribute","comments":"","instanceIdentifier":"ebbbc7ba-0199-1000-0c96-961b00e882c3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"902a8fd9-e518-3f72-89da-5eca63776ae3","instanceIdentifier":"ebb87efe-0199-1000-cb6a-e625054f283c","name":"","source":{"id":"97a32508-1454-35ca-a0d9-51fa74647683","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"SplitJson","comments":"","instanceIdentifier":"ebb1be31-0199-1000-65fc-98f87a4729e1"},"destination":{"id":"4f076d28-775c-3f79-ac79-ea44942ea87b","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ebcd7876-0199-1000-69ce-87eeb9be8a32"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"7159f9d0-5a64-34ad-86bc-c3b0eb54ab7c","instanceIdentifier":"ebd7cb7b-0199-1000-e7b6-949471ecab0e","name":"","source":{"id":"f3cfae6f-de63-3856-b4af-94d47072396b","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"ConvertRecord","comments":"","instanceIdentifier":"ebb97827-0199-1000-2402-8ea9bc2a743d"},"destination":{"id":"8d840b15-5b26-3d51-ac42-a7468c51d43f","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"LogAttribute","comments":"","instanceIdentifier":"ed564da9-0199-1000-ceb7-2a46daf23f1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"91b130a3-e6c2-3d63-ae42-3d1300fc852d","instanceIdentifier":"ebb99107-0199-1000-1871-abb84e85feb2","name":"","source":{"id":"50c3e52d-c305-3c9d-8226-c5df4dccf4d9","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"UpdateAttribute","comments":"","instanceIdentifier":"ebb892a3-0199-1000-41f8-c60c6a5df6d8"},"destination":{"id":"324bfdf6-f968-3b47-aac3-34a284ad94ed","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"PutS3Object","comments":"","instanceIdentifier":"ebb9b7d5-0199-1000-c521-67ffc3a1c59f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"9bbb8b72-b111-3780-b81d-2bc34ddc490a","instanceIdentifier":"ebcdb411-0199-1000-f213-b31d0b5ebf52","name":"","source":{"id":"4f076d28-775c-3f79-ac79-ea44942ea87b","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ebcd7876-0199-1000-69ce-87eeb9be8a32"},"destination":{"id":"319b89ab-7bdd-3497-bcb2-9a275abc8d07","type":"PROCESSOR","groupId":"fb9db392-f074-3f78-821b-32f1d659b805","name":"LogAttribute","comments":"","instanceIdentifier":"ebbb20b6-0199-1000-3097-5f6b357d74f5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"6e453833-1e2f-3862-82f5-0b4fbc3d2ac7","instanceIdentifier":"ebca1bf8-0199-1000-f6da-c5403cca25ec","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0"},"properties":{"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"e7f11bd6-cae4-3502-936c-62f1c04f906c","instanceIdentifier":"ebc0f220-0199-1000-738f-0057aa0e67ed","name":"StandardOauth2AccessTokenProvider","comments":"","type":"org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-oauth2-provider-nar","version":"1.28.0"},"properties":{"audience":null,"grant-type":"password","ssl-context-service":null,"resource":null,"proxy-configuration-service":null,"refresh-window":"0 s","service-password":"#{SalesforcePassword}","HTTP Protocols":"H2_HTTP_1_1","service-user-name":"#{SalesforceUsername}","client-authentication-strategy":"REQUEST_BODY","authorization-server-url":"#{SalesforceAuthorizationUrl}","client-secret":"#{client_secret}","scope":null,"client-id":"#{client_id}"},"propertyDescriptors":{"audience":{"name":"audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false},"grant-type":{"name":"grant-type","displayName":"Grant Type","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"resource":{"name":"resource","displayName":"Resource","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"refresh-window":{"name":"refresh-window","displayName":"Refresh Window","identifiesControllerService":false,"sensitive":false},"service-password":{"name":"service-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"service-user-name":{"name":"service-user-name","displayName":"Username","identifiesControllerService":false,"sensitive":false},"client-authentication-strategy":{"name":"client-authentication-strategy","displayName":"Client Authentication Strategy","identifiesControllerService":false,"sensitive":false},"authorization-server-url":{"name":"authorization-server-url","displayName":"Authorization Server URL","identifiesControllerService":false,"sensitive":false},"refresh-token":{"name":"refresh-token","displayName":"Refresh Token","identifiesControllerService":false,"sensitive":true},"client-secret":{"name":"client-secret","displayName":"Client secret","identifiesControllerService":false,"sensitive":true},"scope":{"name":"scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false},"client-id":{"name":"client-id","displayName":"Client ID","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"d5b10ec2-1b63-36e6-a47c-b3fe27c7a7c2","instanceIdentifier":"ebd65ac1-0199-1000-9f77-981bd045e1f5","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"6c11cfd6-f201-33ac-ac54-5d99810f6024","instanceIdentifier":"ebd67357-0199-1000-33c3-94394036b313","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"},{"identifier":"074162b2-5583-30ef-aff8-c2babd1f5d17","instanceIdentifier":"ebc9f3de-0199-1000-cd23-c2c91d2bc7d4","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb9db392-f074-3f78-821b-32f1d659b805"}],"variables":{},"parameterContextName":"SalesforcetoS3","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"SalesforcetoS3":{"name":"SalesforcetoS3","parameters":[{"name":"SalesforceQuery","description":"","sensitive":false,"provided":false,"value":"SELECT \n    Id,\n    Name,\n    Industry,\n    Website,\n    NumberOfEmployees,\n    AnnualRevenue\nFROM Account\nWHERE DAY_ONLY(CreatedDate) = 2025-10-02\n  AND Owner.Username = 'divija.garg613@agentforce.com'"},{"name":"SalesforceInstanceUrl","description":"","sensitive":false,"provided":false,"value":"https://orgfarm-20f18521a9-dev-ed.develop.my.salesforce.com"},{"name":"MinioEndpointUrl","description":"","sensitive":false,"provided":false,"value":"http://localhost:9000"},{"name":"SalesforceAuthorizationUrl","description":"","sensitive":false,"provided":false,"value":"https://login.salesforce.com/services/oauth2/token"},{"name":"SalesforceUsername","description":"","sensitive":false,"provided":false,"value":"divija.garg613@agentforce.com"},{"name":"SalesforcePassword","description":"","sensitive":true,"provided":false},{"name":"client_secret","description":"","sensitive":true,"provided":false},{"name":"MinioSecretKey","description":"","sensitive":true,"provided":false},{"name":"MinioAccesskey","description":"","sensitive":true,"provided":false},{"name":"MinioBucket","description":"","sensitive":false,"provided":false,"value":"salesforce-bucket"},{"name":"client_id","description":"","sensitive":false,"provided":false,"value":"3MVG9rZjd7MXFdLixHgkZ8kKgRdqzrdlLkiE_V3kLydjDXDxn7v.4.0fgR9YBTujxW.GVUXVa1iIWRRt5xjpu"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}